<!-- Shows the stock-->
<h1> Stock </h1>
<table> 
	<tr>
		<th>Stock</th>
		<th>Hashtag</th>		
	</tr>
		<tr>
			<td><%= @stock.name %></td>
			<td><%= @stock.hashtag %></td>
		</tr>
</table>

<!-- Shows the Time Detlas-->
<h3>TimeDeltas: </h2>
<table>	
	<tr>
    <th>Start</th>
    <th>Length</th>
    <th>Final Rating</th>
    <th>Positive</th>
    <th>Negative</th>
    <th>Neutral</th>
    <th>Tweets</th>  
  </tr>
<%= render @stock.time_deltas %>
</table>
<!-- Creates a Time Delta-->
<h3>Add a TimeDelta:</h2>
<%= render "time_deltas/form" %>

<%= link_to 'Back', stocks_path, :class=>"btn btn-default"%>
<%= link_to 'Edit', edit_stock_path(@stock), :class=>"btn btn-default"%>