<%= form_for([@stock, @stock.time_deltas.build]) do |f| %> 
  <p>
    <%= f.label :start %><br>
    <%= f.text_field :start %>
  </p>
  <p>
    <%= f.label :length %><br>
    <%= f.text_field :length %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>