	<tr>
		<td><%= time_delta.start %></td>
		<td><%= time_delta.length %></td>
		<td><%= time_delta.final %></td>
		<td><%= time_delta.positive %></td>
		<td><%= time_delta.negative %></td>
		<td><%= time_delta.neutral %></td>
		<td><%= time_delta.total %></td>
		<td>
			<%=
				link_to 'Destroy Time Delta',
				[time_delta.stock, time_delta],
				method: :delete,
				data: { confirm: 'Are you sure?' },
				:class => 'btn btn-warning'
			%>
		</td>
	</tr>
